* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --header: 90px; */
  --color-primary: #812181;
}

body {
  margin: 0;
  width: 100%;
  background-color: #ffffff00;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  height: auto;
}

.seccion__baner{
  background: url(./imagenes/fondo_baner.png) center/cover;
  padding: 10px;
  width: auto;
  height: 100vh;
  text-align: center;
}

.seccion__menu{
  background: url(imagenes/fondo_1.png) center/cover;
  padding: 10px;
  width: auto;
  height: 100vh;
  text-align: center;
}

.seccion__plato_uno{
  background: url(imagenes/fondo_2.png)center/cover;;
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
}

.seccion__statistics{
  background: url(imagenes/fondo_3.png)center/cover;;
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;

}

.seccion__plato_dos{
  background: url(imagenes/fondo_4.png)center/cover;;
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
}

.seccion__perfil{
  background: url(imagenes/fondo_perfil.png)center/cover;;
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
}

.seccion__registro{
  background: url(imagenes/fondo_5.png)center/cover;;
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
}

.seccion__footer{
  background-color: #333333;
  padding: 10px;
  width: auto;
  height: auto;
}

.contenedor {

  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo

.header__menu{
  display: flex;
  justify-content: space-between;
}

.nav__list{
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.nav__item{
  padding: 24px;
  color: white;
}

.nav__item a{
  text-decoration: none;
  color: white;
  text-decoration: none;
  list-style: none;
}
.baner__titulo{
  color: white;
  font-size: 100px;
  margin-top: 20%;
}

.baner__texto{
  margin-top: 2%;
  color: white;
}

.baner__boton{
  background-color: #f6d365;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
    margin-top: 2%;

}

.menu__titulo{
  margin-top: 5%;
  color: #333333;
  font-size: 40px;
  text-align: center;
}

.menu__texto{
    margin-top: 2%;
    padding: 10px;
}

.menu__elemento{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.menu__card{
  padding: 10px;
  width: 20%;
  height: 50%;
  margin: 40px;
}

.menu__card__imagen{
  width: 100%;
  height: 170px;
}

.menu__card__titulo{
  padding: 10px;
}

.menu__card__texto{
  width: 200px;
  font-size: 15px;
}

.plato_uno__elemento{
  display: flex;
}

.plato_uno__imagen{
  width: 250px;
  height: 370px;
}

.plato_uno__card{
  padding: 10px;
}

.plato_uno__card__titulo{
  color: white;
  font-size: 40px;
}

.plato_uno__card__texto{
  color: white;

}

.plato_uno__card__boton{
  background-color: #f6d365;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
}

.statistics__titulo{
  color: #333333;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.statistics__texto{
  text-align: center;
  padding: 10px;
}

.statistics__lista{
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.statistics__item{
  border: #333333 5px solid;
  height: 200px;
  width: 200px;
}

.statistics__titulo--list{
  color: #333333;
  font-size: 40px;
  text-align: center;
  margin-top: 55px;
}

.statistics__text--list{
  color: #333333;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.plato_dos__elemento{
  display: flex;
}

.plato_dos__card{
  padding: 10px;
}

.plato_dos__card__titulo{
  color: white;
  font-size: 40px;
}

.plato_dos__card__texto{
  color: white;
}

.plato_dos__card__boton{
  background-color: #f6d365;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
}

.plato_dos__imagen{
  width: 250px;
  height: 370px;
}

.registro__titulo{
  color: #333333;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.registro__texto{
  text-align: center;
  padding: 10px;
}

.registro__imput{
  width: 350px;
  height: 40px;
  
}

.registro__boton{
  background-color: #333333;
  color: white;
  font-size: 15px;
  font-weight: 700;
  width: 150px;
  height: 40px;
  border-style: none;
  border-radius: 3px;
}

.footer__elemento{
  display: flex;
  color: white;
}

.footer__card{
  padding: 20px;
}

.footer__card__titulo{
  padding-bottom: 10px;
}

.footer__card__texto{

}

.footer__card__list{
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.footer__card__list--{
  display: flex;
  list-style: none;
}

.footer__card__item{
  padding: 5px;
}

.footer__card__imagen{
  width: 30px;
  height: 30px;
}