* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header: 90px;
  --color-primary: #812181;
}

body {
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.seccion__baner{
  background-image: url(imagenes/fondo_baner.png);
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
}

.seccion__menu{
  background-image: url(imagenes/fondo_1.png);
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
}

.seccion__plato_uno{
  background-image: url(imagenes/fondo_2.png);
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
}

.seccion__statistics{
  background-image: url(imagenes/fondo_3.png);
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;

}

.seccion__plato_dos{
  background-image: url(imagenes/fondo_4.png);
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
}

.seccion__perfil{
  background-image: url(imagenes/fondo_perfil.png);
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
}

.seccion__registro{
  background-image: url(imagenes/fondo_5.png);
  background-repeat: no-repeat;
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
}

.seccion__footer{
  background-color: #333333;
  padding: 10px;
  width: auto;
  height: auto;
}

.contenedor {
  max-width: 1600px;
  margin: 0 auto;
}

.header{
  display: flex;
}

.header__logo

.header__menu{
  display: flex;
}

.nav__list{
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.nav__item{
  padding: 24px;
  text-decoration: none;
  color: white;
}

.baner__titulo{
  color: white;
  font-size: 60px;
}

.baner__texto{
  color: white;
}

.baner__boton{
  background-color: #f6d365;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
}

.menu__titulo{
  color: #333333;
  font-size: 40px;
  text-align: center;
}

.menu__texto{
  padding: 10px;
}

.menu__elemento{
  display: flex;
}

.menu__card{
  padding: 10px;
}

.menu__card__imagen{
  width: 210px;
  height: 170px;
}

.menu__card__titulo{
  padding: 10px;
}

.menu__card__texto{
  width: 200px;
  font-size: 15px;
}

.plato_uno__elemento{
  display: flex;
}

.plato_uno__imagen{
  width: 250px;
  height: 370px;
}

.plato_uno__card{
  padding: 10px;
}

.plato_uno__card__titulo{
  color: white;
  font-size: 40px;
}

.plato_uno__card__texto{
  color: white;

}

.plato_uno__card__boton{
  background-color: #f6d365;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
}

.statistics__titulo{
  color: #333333;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.statistics__texto{
  text-align: center;
  padding: 10px;
}

.statistics__lista{
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.statistics__item{
  border: #333333 5px solid;
  height: 200px;
  width: 200px;
}

.statistics__titulo--list{
  color: #333333;
  font-size: 40px;
  text-align: center;
  margin-top: 55px;
}

.statistics__text--list{
  color: #333333;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}